<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css({app,.tmp}) /<%= cssDir %>/main.css --><% if (includeReset) { %>
  <link rel="stylesheet" href="/_bower_components/reset-css/reset.css"><% } %>
  <link rel="stylesheet" href="/<%= cssDir %>/main.css">
  <!-- endbuild -->

</head>
<body>

  <header>
    header
  </header>

  {{ content }}

  <footer>
    &copy; {{ 'now' | date: "%Y" }} <%= appname %>
  </footer>

  <!-- build:js(app) /<%= jsDir %>/scripts.js -->
  <script src="/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
